<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="icon-grid menu-icon"></i>
            <span class="menu-title">home</span>
          </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/publication">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Mes publication</span>
          </a>
        </li>          
        <li class="nav-item">
          <a class="nav-link" href="post.html">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Nouveu post</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Profil</span>
          </a>
  </ul>
</nav>