<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="admin.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">acceuil</span>
        </a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="commandes.html">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Commandes</span>
        </a>
      </li>          
      <li class="nav-item">
        <a class="nav-link" href="comptes.html">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Comptes livreurs</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="comptes clients.html">
          <i class="icon-head menu-icon"></i>
          <span class="menu-title">Comptes clients</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tournée.html">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Tournée</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="paiment.html">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Paiement</span>
        </a>
      </li>
      
    </ul>
  </nav>