<div class="main-panel">
    <div class="content-wrapper1">
      
       
        <a routerLink="/ajouter"><button type="button" class="btn" style="margin: 0 0 10px 1100px; background-color: #f95c19 ; color: azure;">crée un compte</button></a>
        
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">Vivaldi</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">Nour shop</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">stradivarus</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">zara</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">waikiki</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">rosace</p>
                            <div class="d-grid"> <a routerLink="/profil" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">foufa shop</p>
                            <div class="d-grid"> <a href="#" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card radius-15 mb-20">
                    <div class="card-body text-center">
                        <div class="p-4 border radius-15">
                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" width="110" height="110" class="rounded-circle shadow" alt="">
                            <h5 class="mb-0 mt-5">Foulen Ben Foulen</h5>
                            <p class="mb-3">client</p>
                            <p class="mb-3">business</p>
                            <div class="d-grid"> <a href="#" class="btn btn-outline-primary radius-15">consulter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
  </div>